.form-control:focus {
  box-shadow: none !important;
  background-color: rgba(108, 117, 125, 0.25);
}

.form-control {
  border: none;
  background-color: rgba(108, 117, 125, 0.25);
}

.form-control::placeholder {
  color: #e9471e; /* Bootstrap warning color */
}

/* color setting for hamburger toggle */
.hamburger {
  color: #e9471e;
}

/* color setting for search button background */
.search-btn {
  background-color: #e9471e; /* set background */
  border: none; /* remove Bootstrap border if you don’t want it */
}

.search-btn:hover {
  background-color: #c53a17; /* darker shade for hover effect */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23E9471E' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 2px solid #e9471e; /* Bootstrap warning color */
  border-radius: 5px; /* optional rounded corners */
  box-shadow: none !important;
}

.ad-img {
  position: absolute;
  z-index: -1;
  /* opacity: 0.8;  */
}

.carousel_item {
    height: 500px;
    object-fit: cover; /* Ensures the image covers the container without distortion */
} 
.carousel-btn{
  left: 65%;
}
.bi-play{
  color: #E9471E;
}
.bi-detail{
  color: white;
}
.btn-play{
  background-color: white;
  color: #E9471E;
}
.btn-detail{
  background-color: #E9471E;
  color: white;
}


main .col {
  margin-top: 500px;
}

h3 {
  color: white;
}

/*Card Design */
.movie-card {
  background-color: #222;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  max-width: 120px;
  margin: auto;
}

.movie-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-3px);
}

.movie-card:hover img {
  transform: scale(1.03);
}

.card-body {
  padding: 4px;
  text-align: center;
}

.card-title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #ffc107;
  margin-bottom: 0;
}

.card-text {
  font-size: 0.65rem;
  color: #aaa;
  margin: 0;
}

.movie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ad-img {
  position: absolute;
  z-index: -1;
  /* opacity: 0.8;  */
}

.carousel_item {
  height: 500px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
.carousel_text {
  display: inline-block;
  height: 500px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
.carousel-btn {
  left: 65%;
}
.bi-play {
  color: #e9471e;
}
.bi-detail {
  color: white;
}
.btn-play {
  background-color: white;
  color: #e9471e;
}

/* Setting for footer */

.footer,
.navbar-background {
  background-color: rgba(54, 54, 54, 0.5); /* 50% transparent gray */
}

.footer {
  color: #e9471e;
}

.bi-facebook {
  color: #1877f2;
}

.bi-twitter-x {
  color: white;
}

.bi-youtube {
  color: red;
}
.btn-detail {
  background-color: #e9471e;
  color: white;
}
